body{
    background-color: rgb(124, 123, 123);
    font-family: 'Times New Roman', Times, serif;
}
.top-bar {
      margin-bottom: 10px;
      background-color: #333;
      color: white;
      padding: 15px 0;
      text-align: center;
      font-size: 28px;
      font-weight: bold;
      
    }
#count{
        font-size: 60px;
        font-weight: bold;
        
        align-items: center;
        color: rgb(65, 12, 212);
    }
    #btn1{
        background-color: rgb(80, 145, 80);
        padding: 10px;
        border-radius: 5px;
        font-weight: bold;
    }
    #btn2{
        background-color: rgb(197, 102, 102);
        padding: 10px;
        border-radius: 5px;
        font-weight: bold;
    }
    #btn3{
        background-color: grey;
        padding: 10px;
        border-radius: 5px;
        font-weight: bold;
    }
    div{
        background-color: rgb(223, 206, 185);
        flex-direction: row;
        align-items: center;
        padding: 10px;
        margin-right: 30%;
        margin-left: 30%;
        border-radius: 20px;
    }
    #content1{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    #content2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        gap: 15px;
        justify-content: space-evenly;
    }
    button:hover{
        box-shadow: 0 2px 5px;
    }
    
